index.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" xmlns:intf="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="urn:client.bizinterfacefacade" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="urn:client.bizinterfacefacade" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="WSInvokeException">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="invalidAgentPayBillResponse">

      <wsdl:part name="invalidAgentPayBillReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteRecInfoResponse">

      <wsdl:part name="deleteRecInfoReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="impAutoQuoteBillsResponse">

      <wsdl:part name="impAutoQuoteBillsReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="impAccountInfoRequest">

      <wsdl:part name="xmlString" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="impAutoApPaymentInfoResponse">

      <wsdl:part name="impAutoApPaymentInfoReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAPaymentInfoResponse">

      <wsdl:part name="getAPaymentInfoReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getOrgMappingRequest">

      <wsdl:part name="orgXml" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="impJRMidQuoteBillsResponse">

      <wsdl:part name="impJRMidQuoteBillsReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getQuoteInfoRequest">

      <wsdl:part name="xml" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="impAgentPayBillRequest">

      <wsdl:part name="xml" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="cutApOtherBillWithoutPayingRequest">

      <wsdl:part name="xmlStr" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="reverseInvoiceInfoResponse">

      <wsdl:part name="reverseInvoiceInfoReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getQuoteVoucherInfoResponse">

      <wsdl:part name="getQuoteVoucherInfoReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="impAPaymentInfoRequest">

      <wsdl:part name="xmlString" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getOrgMappingResponse">

      <wsdl:part name="getOrgMappingReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteEHRExpBudgetFormResponse">

      <wsdl:part name="deleteEHRExpBudgetFormReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="impAutoQuoteBillsRequest">

      <wsdl:part name="xml" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteRecInfoRequest">

      <wsdl:part name="xml" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="impEHRExpBudgetFormResponse">

      <wsdl:part name="impEHRExpBudgetFormReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="impAPaymentInfoResponse">

      <wsdl:part name="impAPaymentInfoReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteApWithoutPayingInfoResponse">

      <wsdl:part name="deleteApWithoutPayingInfoReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="impRPaymentInfoRequest">

      <wsdl:part name="xml" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="abortApPaymentResponse">

      <wsdl:part name="abortApPaymentReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="impSTMidReceivingBillsRequest">

      <wsdl:part name="receivingBills" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAPaymentInfoRequest">

      <wsdl:part name="xmlString" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="impProjectInfoResponse">

      <wsdl:part name="impProjectInfoReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getQuoteInfoResponse">

      <wsdl:part name="getQuoteInfoReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="impMidQuoteBillsResponse">

      <wsdl:part name="impMidQuoteBillsReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="impMidReceivingBillsRequest">

      <wsdl:part name="receivingBills" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="sourceFunction" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getBizPaymentInfoResponse">

      <wsdl:part name="getBizPaymentInfoReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteEHRExpBudgetFormRequest">

      <wsdl:part name="reqJson" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteAPInfoResponse">

      <wsdl:part name="deleteAPInfoReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="abortApPaymentRequest">

      <wsdl:part name="xmlInfo" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="reverseInvoiceInfoRequest">

      <wsdl:part name="InfoXml" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="impAutoApPaymentInfoRequest">

      <wsdl:part name="xml" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="impAutoReceivingBillsResponse">

      <wsdl:part name="impAutoReceivingBillsReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="impAutoBizAccountInfoResponse">

      <wsdl:part name="impAutoBizAccountInfoReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="impSTMidReceivingBillsResponse">

      <wsdl:part name="impSTMidReceivingBillsReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="impJRMidQuoteBillsRequest">

      <wsdl:part name="midQuoteBills" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteBizAccountInfoRequest">

      <wsdl:part name="xml" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="impRPaymentInfoResponse">

      <wsdl:part name="impRPaymentInfoReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteRPInfoRequest">

      <wsdl:part name="xml" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="impMidReceivingBillsResponse">

      <wsdl:part name="impMidReceivingBillsReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="impAgentPayBillResponse">

      <wsdl:part name="impAgentPayBillReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="impBizAccountInfoResponse">

      <wsdl:part name="impBizAccountInfoReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteQuoteInfoResponse">

      <wsdl:part name="deleteQuoteInfoReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getQuoteVoucherInfoRequest">

      <wsdl:part name="xml" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="impProjectInfoRequest">

      <wsdl:part name="xmlString" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getReceiveingVoucherInfoResponse">

      <wsdl:part name="getReceiveingVoucherInfoReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="WSInvokeException">

      <wsdl:part name="fault" type="tns1:WSInvokeException">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteApWithoutPayingInfoRequest">

      <wsdl:part name="xmlStr" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteQuoteInfoRequest">

      <wsdl:part name="xml" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getReceiveingVoucherInfoRequest">

      <wsdl:part name="xml" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="impMidQuoteBillsRequest">

      <wsdl:part name="midQuoteBills" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="sourceFunction" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getReceiveingInfoResponse">

      <wsdl:part name="getReceiveingInfoReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteRPInfoResponse">

      <wsdl:part name="deleteRPInfoReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="impAutoReceivingBillsRequest">

      <wsdl:part name="xml" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="invalidAgentPayBillRequest">

      <wsdl:part name="xml" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="impEHRExpBudgetFormRequest">

      <wsdl:part name="reqJson" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="impJRMidReceivingBillsRequest">

      <wsdl:part name="receivingBills" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteAgentPayBillRequest">

      <wsdl:part name="xml" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="impAutoBizAccountInfoRequest">

      <wsdl:part name="xml" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="cutApOtherBillWithoutPayingResponse">

      <wsdl:part name="cutApOtherBillWithoutPayingReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getBizPaymentInfoRequest">

      <wsdl:part name="xml" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="impJRMidReceivingBillsResponse">

      <wsdl:part name="impJRMidReceivingBillsReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteBizAccountInfoResponse">

      <wsdl:part name="deleteBizAccountInfoReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteAPInfoRequest">

      <wsdl:part name="xml" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="impAccountInfoResponse">

      <wsdl:part name="impAccountInfoReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getReceiveingInfoRequest">

      <wsdl:part name="xml" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteAgentPayBillResponse">

      <wsdl:part name="deleteAgentPayBillReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="impBizAccountInfoRequest">

      <wsdl:part name="xml" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="WSBizInterfaceFacadeSrvProxy">

      <wsdl:operation name="getQuoteVoucherInfo" parameterOrder="xml">

         <wsdl:input message="impl:getQuoteVoucherInfoRequest" name="getQuoteVoucherInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:getQuoteVoucherInfoResponse" name="getQuoteVoucherInfoResponse">

       </wsdl:output>

         <wsdl:fault message="impl:WSInvokeException" name="WSInvokeException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="impAPaymentInfo" parameterOrder="xmlString">

         <wsdl:input message="impl:impAPaymentInfoRequest" name="impAPaymentInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:impAPaymentInfoResponse" name="impAPaymentInfoResponse">

       </wsdl:output>

         <wsdl:fault message="impl:WSInvokeException" name="WSInvokeException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="impProjectInfo" parameterOrder="xmlString">

         <wsdl:input message="impl:impProjectInfoRequest" name="impProjectInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:impProjectInfoResponse" name="impProjectInfoResponse">

       </wsdl:output>

         <wsdl:fault message="impl:WSInvokeException" name="WSInvokeException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="impBizAccountInfo" parameterOrder="xml">

         <wsdl:input message="impl:impBizAccountInfoRequest" name="impBizAccountInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:impBizAccountInfoResponse" name="impBizAccountInfoResponse">

       </wsdl:output>

         <wsdl:fault message="impl:WSInvokeException" name="WSInvokeException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="deleteAPInfo" parameterOrder="xml">

         <wsdl:input message="impl:deleteAPInfoRequest" name="deleteAPInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteAPInfoResponse" name="deleteAPInfoResponse">

       </wsdl:output>

         <wsdl:fault message="impl:WSInvokeException" name="WSInvokeException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="impMidReceivingBills" parameterOrder="receivingBills sourceFunction">

         <wsdl:input message="impl:impMidReceivingBillsRequest" name="impMidReceivingBillsRequest">

       </wsdl:input>

         <wsdl:output message="impl:impMidReceivingBillsResponse" name="impMidReceivingBillsResponse">

       </wsdl:output>

         <wsdl:fault message="impl:WSInvokeException" name="WSInvokeException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getReceiveingInfo" parameterOrder="xml">

         <wsdl:input message="impl:getReceiveingInfoRequest" name="getReceiveingInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:getReceiveingInfoResponse" name="getReceiveingInfoResponse">

       </wsdl:output>

         <wsdl:fault message="impl:WSInvokeException" name="WSInvokeException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getAPaymentInfo" parameterOrder="xmlString">

         <wsdl:input message="impl:getAPaymentInfoRequest" name="getAPaymentInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAPaymentInfoResponse" name="getAPaymentInfoResponse">

       </wsdl:output>

         <wsdl:fault message="impl:WSInvokeException" name="WSInvokeException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="impSTMidReceivingBills" parameterOrder="receivingBills">

         <wsdl:input message="impl:impSTMidReceivingBillsRequest" name="impSTMidReceivingBillsRequest">

       </wsdl:input>

         <wsdl:output message="impl:impSTMidReceivingBillsResponse" name="impSTMidReceivingBillsResponse">

       </wsdl:output>

         <wsdl:fault message="impl:WSInvokeException" name="WSInvokeException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="deleteRecInfo" parameterOrder="xml">

         <wsdl:input message="impl:deleteRecInfoRequest" name="deleteRecInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteRecInfoResponse" name="deleteRecInfoResponse">

       </wsdl:output>

         <wsdl:fault message="impl:WSInvokeException" name="WSInvokeException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="impAccountInfo" parameterOrder="xmlString">

         <wsdl:input message="impl:impAccountInfoRequest" name="impAccountInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:impAccountInfoResponse" name="impAccountInfoResponse">

       </wsdl:output>

         <wsdl:fault message="impl:WSInvokeException" name="WSInvokeException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="impJRMidQuoteBills" parameterOrder="midQuoteBills">

         <wsdl:input message="impl:impJRMidQuoteBillsRequest" name="impJRMidQuoteBillsRequest">

       </wsdl:input>

         <wsdl:output message="impl:impJRMidQuoteBillsResponse" name="impJRMidQuoteBillsResponse">

       </wsdl:output>

         <wsdl:fault message="impl:WSInvokeException" name="WSInvokeException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="invalidAgentPayBill" parameterOrder="xml">

         <wsdl:input message="impl:invalidAgentPayBillRequest" name="invalidAgentPayBillRequest">

       </wsdl:input>

         <wsdl:output message="impl:invalidAgentPayBillResponse" name="invalidAgentPayBillResponse">

       </wsdl:output>

         <wsdl:fault message="impl:WSInvokeException" name="WSInvokeException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="deleteAgentPayBill" parameterOrder="xml">

         <wsdl:input message="impl:deleteAgentPayBillRequest" name="deleteAgentPayBillRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteAgentPayBillResponse" name="deleteAgentPayBillResponse">

       </wsdl:output>

         <wsdl:fault message="impl:WSInvokeException" name="WSInvokeException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="impAgentPayBill" parameterOrder="xml">

         <wsdl:input message="impl:impAgentPayBillRequest" name="impAgentPayBillRequest">

       </wsdl:input>

         <wsdl:output message="impl:impAgentPayBillResponse" name="impAgentPayBillResponse">

       </wsdl:output>

         <wsdl:fault message="impl:WSInvokeException" name="WSInvokeException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="cutApOtherBillWithoutPaying" parameterOrder="xmlStr">

         <wsdl:input message="impl:cutApOtherBillWithoutPayingRequest" name="cutApOtherBillWithoutPayingRequest">

       </wsdl:input>

         <wsdl:output message="impl:cutApOtherBillWithoutPayingResponse" name="cutApOtherBillWithoutPayingResponse">

       </wsdl:output>

         <wsdl:fault message="impl:WSInvokeException" name="WSInvokeException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="deleteApWithoutPayingInfo" parameterOrder="xmlStr">

         <wsdl:input message="impl:deleteApWithoutPayingInfoRequest" name="deleteApWithoutPayingInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteApWithoutPayingInfoResponse" name="deleteApWithoutPayingInfoResponse">

       </wsdl:output>

         <wsdl:fault message="impl:WSInvokeException" name="WSInvokeException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="abortApPayment" parameterOrder="xmlInfo">

         <wsdl:input message="impl:abortApPaymentRequest" name="abortApPaymentRequest">

       </wsdl:input>

         <wsdl:output message="impl:abortApPaymentResponse" name="abortApPaymentResponse">

       </wsdl:output>

         <wsdl:fault message="impl:WSInvokeException" name="WSInvokeException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="impEHRExpBudgetForm" parameterOrder="reqJson">

         <wsdl:input message="impl:impEHRExpBudgetFormRequest" name="impEHRExpBudgetFormRequest">

       </wsdl:input>

         <wsdl:output message="impl:impEHRExpBudgetFormResponse" name="impEHRExpBudgetFormResponse">

       </wsdl:output>

         <wsdl:fault message="impl:WSInvokeException" name="WSInvokeException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="deleteEHRExpBudgetForm" parameterOrder="reqJson">

         <wsdl:input message="impl:deleteEHRExpBudgetFormRequest" name="deleteEHRExpBudgetFormRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteEHRExpBudgetFormResponse" name="deleteEHRExpBudgetFormResponse">

       </wsdl:output>

         <wsdl:fault message="impl:WSInvokeException" name="WSInvokeException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="impRPaymentInfo" parameterOrder="xml">

         <wsdl:input message="impl:impRPaymentInfoRequest" name="impRPaymentInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:impRPaymentInfoResponse" name="impRPaymentInfoResponse">

       </wsdl:output>

         <wsdl:fault message="impl:WSInvokeException" name="WSInvokeException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="deleteBizAccountInfo" parameterOrder="xml">

         <wsdl:input message="impl:deleteBizAccountInfoRequest" name="deleteBizAccountInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteBizAccountInfoResponse" name="deleteBizAccountInfoResponse">

       </wsdl:output>

         <wsdl:fault message="impl:WSInvokeException" name="WSInvokeException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="deleteQuoteInfo" parameterOrder="xml">

         <wsdl:input message="impl:deleteQuoteInfoRequest" name="deleteQuoteInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteQuoteInfoResponse" name="deleteQuoteInfoResponse">

       </wsdl:output>

         <wsdl:fault message="impl:WSInvokeException" name="WSInvokeException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getBizPaymentInfo" parameterOrder="xml">

         <wsdl:input message="impl:getBizPaymentInfoRequest" name="getBizPaymentInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:getBizPaymentInfoResponse" name="getBizPaymentInfoResponse">

       </wsdl:output>

         <wsdl:fault message="impl:WSInvokeException" name="WSInvokeException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="impJRMidReceivingBills" parameterOrder="receivingBills">

         <wsdl:input message="impl:impJRMidReceivingBillsRequest" name="impJRMidReceivingBillsRequest">

       </wsdl:input>

         <wsdl:output message="impl:impJRMidReceivingBillsResponse" name="impJRMidReceivingBillsResponse">

       </wsdl:output>

         <wsdl:fault message="impl:WSInvokeException" name="WSInvokeException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="impAutoBizAccountInfo" parameterOrder="xml">

         <wsdl:input message="impl:impAutoBizAccountInfoRequest" name="impAutoBizAccountInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:impAutoBizAccountInfoResponse" name="impAutoBizAccountInfoResponse">

       </wsdl:output>

         <wsdl:fault message="impl:WSInvokeException" name="WSInvokeException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="impMidQuoteBills" parameterOrder="midQuoteBills sourceFunction">

         <wsdl:input message="impl:impMidQuoteBillsRequest" name="impMidQuoteBillsRequest">

       </wsdl:input>

         <wsdl:output message="impl:impMidQuoteBillsResponse" name="impMidQuoteBillsResponse">

       </wsdl:output>

         <wsdl:fault message="impl:WSInvokeException" name="WSInvokeException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="impAutoApPaymentInfo" parameterOrder="xml">

         <wsdl:input message="impl:impAutoApPaymentInfoRequest" name="impAutoApPaymentInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:impAutoApPaymentInfoResponse" name="impAutoApPaymentInfoResponse">

       </wsdl:output>

         <wsdl:fault message="impl:WSInvokeException" name="WSInvokeException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="reverseInvoiceInfo" parameterOrder="InfoXml">

         <wsdl:input message="impl:reverseInvoiceInfoRequest" name="reverseInvoiceInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:reverseInvoiceInfoResponse" name="reverseInvoiceInfoResponse">

       </wsdl:output>

         <wsdl:fault message="impl:WSInvokeException" name="WSInvokeException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getOrgMapping" parameterOrder="orgXml">

         <wsdl:input message="impl:getOrgMappingRequest" name="getOrgMappingRequest">

       </wsdl:input>

         <wsdl:output message="impl:getOrgMappingResponse" name="getOrgMappingResponse">

       </wsdl:output>

         <wsdl:fault message="impl:WSInvokeException" name="WSInvokeException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="impAutoReceivingBills" parameterOrder="xml">

         <wsdl:input message="impl:impAutoReceivingBillsRequest" name="impAutoReceivingBillsRequest">

       </wsdl:input>

         <wsdl:output message="impl:impAutoReceivingBillsResponse" name="impAutoReceivingBillsResponse">

       </wsdl:output>

         <wsdl:fault message="impl:WSInvokeException" name="WSInvokeException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="impAutoQuoteBills" parameterOrder="xml">

         <wsdl:input message="impl:impAutoQuoteBillsRequest" name="impAutoQuoteBillsRequest">

       </wsdl:input>

         <wsdl:output message="impl:impAutoQuoteBillsResponse" name="impAutoQuoteBillsResponse">

       </wsdl:output>

         <wsdl:fault message="impl:WSInvokeException" name="WSInvokeException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getQuoteInfo" parameterOrder="xml">

         <wsdl:input message="impl:getQuoteInfoRequest" name="getQuoteInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:getQuoteInfoResponse" name="getQuoteInfoResponse">

       </wsdl:output>

         <wsdl:fault message="impl:WSInvokeException" name="WSInvokeException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getReceiveingVoucherInfo" parameterOrder="xml">

         <wsdl:input message="impl:getReceiveingVoucherInfoRequest" name="getReceiveingVoucherInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:getReceiveingVoucherInfoResponse" name="getReceiveingVoucherInfoResponse">

       </wsdl:output>

         <wsdl:fault message="impl:WSInvokeException" name="WSInvokeException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="deleteRPInfo" parameterOrder="xml">

         <wsdl:input message="impl:deleteRPInfoRequest" name="deleteRPInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteRPInfoResponse" name="deleteRPInfoResponse">

       </wsdl:output>

         <wsdl:fault message="impl:WSInvokeException" name="WSInvokeException">

       </wsdl:fault>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WSBizInterfaceFacadeSoapBinding" type="impl:WSBizInterfaceFacadeSrvProxy">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getQuoteVoucherInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getQuoteVoucherInfoRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.app.bizinterface.custom.eas.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getQuoteVoucherInfoResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="WSInvokeException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="WSInvokeException" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="impAPaymentInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="impAPaymentInfoRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.app.bizinterface.custom.eas.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="impAPaymentInfoResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="WSInvokeException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="WSInvokeException" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="impProjectInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="impProjectInfoRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.app.bizinterface.custom.eas.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="impProjectInfoResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="WSInvokeException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="WSInvokeException" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="impBizAccountInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="impBizAccountInfoRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.app.bizinterface.custom.eas.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="impBizAccountInfoResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="WSInvokeException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="WSInvokeException" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="deleteAPInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteAPInfoRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.app.bizinterface.custom.eas.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="deleteAPInfoResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="WSInvokeException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="WSInvokeException" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="impMidReceivingBills">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="impMidReceivingBillsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.app.bizinterface.custom.eas.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="impMidReceivingBillsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="WSInvokeException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="WSInvokeException" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getReceiveingInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getReceiveingInfoRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.app.bizinterface.custom.eas.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getReceiveingInfoResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="WSInvokeException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="WSInvokeException" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getAPaymentInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAPaymentInfoRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.app.bizinterface.custom.eas.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAPaymentInfoResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="WSInvokeException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="WSInvokeException" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="impSTMidReceivingBills">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="impSTMidReceivingBillsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.app.bizinterface.custom.eas.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="impSTMidReceivingBillsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="WSInvokeException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="WSInvokeException" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="deleteRecInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteRecInfoRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.app.bizinterface.custom.eas.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="deleteRecInfoResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="WSInvokeException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="WSInvokeException" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="impAccountInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="impAccountInfoRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.app.bizinterface.custom.eas.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="impAccountInfoResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="WSInvokeException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="WSInvokeException" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="impJRMidQuoteBills">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="impJRMidQuoteBillsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.app.bizinterface.custom.eas.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="impJRMidQuoteBillsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="WSInvokeException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="WSInvokeException" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="invalidAgentPayBill">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="invalidAgentPayBillRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.app.bizinterface.custom.eas.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="invalidAgentPayBillResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="WSInvokeException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="WSInvokeException" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="deleteAgentPayBill">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteAgentPayBillRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.app.bizinterface.custom.eas.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="deleteAgentPayBillResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="WSInvokeException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="WSInvokeException" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="impAgentPayBill">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="impAgentPayBillRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.app.bizinterface.custom.eas.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="impAgentPayBillResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="WSInvokeException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="WSInvokeException" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="cutApOtherBillWithoutPaying">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="cutApOtherBillWithoutPayingRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.app.bizinterface.custom.eas.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="cutApOtherBillWithoutPayingResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="WSInvokeException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="WSInvokeException" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="deleteApWithoutPayingInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteApWithoutPayingInfoRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.app.bizinterface.custom.eas.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="deleteApWithoutPayingInfoResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="WSInvokeException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="WSInvokeException" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="abortApPayment">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="abortApPaymentRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.app.bizinterface.custom.eas.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="abortApPaymentResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="WSInvokeException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="WSInvokeException" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="impEHRExpBudgetForm">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="impEHRExpBudgetFormRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.app.bizinterface.custom.eas.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="impEHRExpBudgetFormResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="WSInvokeException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="WSInvokeException" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="deleteEHRExpBudgetForm">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteEHRExpBudgetFormRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.app.bizinterface.custom.eas.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="deleteEHRExpBudgetFormResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="WSInvokeException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="WSInvokeException" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="impRPaymentInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="impRPaymentInfoRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.app.bizinterface.custom.eas.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="impRPaymentInfoResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="WSInvokeException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="WSInvokeException" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="deleteBizAccountInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteBizAccountInfoRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.app.bizinterface.custom.eas.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="deleteBizAccountInfoResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="WSInvokeException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="WSInvokeException" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="deleteQuoteInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteQuoteInfoRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.app.bizinterface.custom.eas.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="deleteQuoteInfoResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="WSInvokeException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="WSInvokeException" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getBizPaymentInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getBizPaymentInfoRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.app.bizinterface.custom.eas.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getBizPaymentInfoResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="WSInvokeException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="WSInvokeException" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="impJRMidReceivingBills">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="impJRMidReceivingBillsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.app.bizinterface.custom.eas.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="impJRMidReceivingBillsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="WSInvokeException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="WSInvokeException" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="impAutoBizAccountInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="impAutoBizAccountInfoRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.app.bizinterface.custom.eas.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="impAutoBizAccountInfoResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="WSInvokeException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="WSInvokeException" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="impMidQuoteBills">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="impMidQuoteBillsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.app.bizinterface.custom.eas.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="impMidQuoteBillsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="WSInvokeException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="WSInvokeException" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="impAutoApPaymentInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="impAutoApPaymentInfoRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.app.bizinterface.custom.eas.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="impAutoApPaymentInfoResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="WSInvokeException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="WSInvokeException" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="reverseInvoiceInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="reverseInvoiceInfoRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.app.bizinterface.custom.eas.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="reverseInvoiceInfoResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="WSInvokeException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="WSInvokeException" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getOrgMapping">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getOrgMappingRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.app.bizinterface.custom.eas.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getOrgMappingResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="WSInvokeException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="WSInvokeException" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="impAutoReceivingBills">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="impAutoReceivingBillsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.app.bizinterface.custom.eas.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="impAutoReceivingBillsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="WSInvokeException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="WSInvokeException" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="impAutoQuoteBills">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="impAutoQuoteBillsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.app.bizinterface.custom.eas.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="impAutoQuoteBillsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="WSInvokeException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="WSInvokeException" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getQuoteInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getQuoteInfoRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.app.bizinterface.custom.eas.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getQuoteInfoResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="WSInvokeException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="WSInvokeException" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getReceiveingVoucherInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getReceiveingVoucherInfoRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.app.bizinterface.custom.eas.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getReceiveingVoucherInfoResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="WSInvokeException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="WSInvokeException" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="deleteRPInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteRPInfoRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.app.bizinterface.custom.eas.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="deleteRPInfoResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="WSInvokeException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="WSInvokeException" namespace="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WSBizInterfaceFacadeSrvProxyService">

      <wsdl:port binding="impl:WSBizInterfaceFacadeSoapBinding" name="WSBizInterfaceFacade">

         <wsdlsoap:address location="http://10.1.65.89:7888/web/services/WSBizInterfaceFacade"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
